<h3>{{job?.name!}}</h3>
<div>
    <span style="font-weight: 500;">Number of working hours:</span>
    <span>{{job?.hours!}}</span>
</div>
<div>
    <span style="font-weight: 500;">Requirements:</span>
    <p>{{job?.requirements!}}</p>
</div>
<div *ngIf="job?.workFromHome!">
    <span style="font-weight: 500;">work from home</span>
<div>
    <span style="font-weight: 500;">The work area:</span>
    <span>{{jobSvc.getAreas()[job?.whichArea!]}}</span>
</div>
<div>
    <span style="font-weight: 500;">The work type:</span>
    <span>{{jobSvc.getTypes()[job?.type!]}}</span>
</div>
