<form ngForm class=" bg-dark-subtle text-dark-emphasis">

    <h1 class="text-danger">Login</h1>

    <div class="form-floating mb-3">
        <input #e type="email" [(ngModel)]="userData.email" name="email" required placeholder="name@example.com"
            [ngClass]="(!e.value && isOnClick) ?'form-control is-invalid' : 'form-control' ">
        <label>Email address</label>
        <div *ngIf="(!e.value && isOnClick)">Email is a required field</div>
    </div>

    <div class="form-floating">
        <input #p type="password" [(ngModel)]="userData.password" name="password" required placeholder="Password"
            [ngClass]="((!p.value || passwordLength < 8 || containSpaces ) && isOnClick)==true ? 'form-control is-invalid' : 'form-control'">
        <label>Password</label>
        <div *ngIf="(!p.value && isOnClick)">Password is a required field</div>
        <div *ngIf="(passwordLength < 8 && isOnClick)">Minimum 8 characters</div>
        <div *ngIf="(containSpaces && isOnClick )">Password does not contain spaces</div>
    </div>

    <button type="submit" (click)="loginClick()" class="btn btn-danger">login</button>

</form>