<div class="card-body" >
    <h2 class="card-title">{{jobData?.name}} </h2>
    <div class="card-text">Type: {{jobSvc.getTypes()[jobData?.type!]}}</div>
    <div class="card-text">Hours: {{jobData?.hours}}</div>
    <div class="card-text">Area: {{jobSvc.getAreas()[jobData?.whichArea!]}}</div>
    <button (click)="showDetails()" type="button" class="btn btn-outline-secondary m-2 btn-sm">{{showOrHide}} details</button>
    <button (click)="sendCv()" type="button" class="btn btn-outline-secondary m-2 btn-sm">Send cv</button>
    <app-show-details *ngIf="details" [job]="jobData"></app-show-details>
</div>